.eventText h1 {
  font-family: var(--primary-font);
  font-size: 16px;
  font-weight: 200;
  text-align: center;
}

.eventText p {
  font-family: var(--secondary-font);
  font-size: 16px;
  text-align: center;
}

.eventCard {
  width: 100%;
}

.eventsSection {
  display: flex;
  flex-direction: column;
  max-width: 356px;
  margin: 0 auto;
}
.eventCard > img {
  max-width: 100%;
}

/* Above 960px */
@media only screen and (min-width: 960px) {
  .eventsSection {
    display: grid;
    grid-gap: 20px 7%;
    grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
    max-width: 2000px;
    margin: 0 100px;
  }

  .eventCard img {
    width: 100%;
  }

  .eventCard {
    min-height: 540px;
  }

  .eventText p {
    text-align: left;
  }
}
