.footer {
  background-color: var(--color-brown-accent);
  width: 100%;
  padding-bottom: 50px;
  padding-top: 20px;
  color: var(--color-white);
  margin-top: 20px;
}

.footer h1 {
  font-family: var(--primary-font);
  font-size: 22px;
  text-align: center;
  margin-bottom: 0px;
  font-weight: 200;
}

.footer p {
  text-align: center;
  font-family: var(--secondary-font);
  margin: 7px;
}

.footer a {
  text-decoration: none;
  color: var(--color-white);
}
.logoDiv {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
