.headerContainer {
  position: relative;
  display: inline-block;
  top: 0;
  width: 100%;
}

.heroDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 3;
}

.relativeHeroDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  margin: auto;
  width: 70%;
}

.blackGraphic {
  position: absolute;
  width: 100%;
}

.heroTitle {
  position: absolute;
  color: var(--color-white);
  margin: 0;
  width: 100%;
  text-align: center;
  font-family: Arkipelago;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 150%;
}
.relativeHeroDivMobile {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
  margin: auto;
  width: 100%;
}

.relativeHeroDivMobile img {
  width: 70%;
}

.relativeHeroDivDesktop {
  display: none;
}

.heroText {
  color: var(--color-white);
  margin: 0 0 0 100px;
  width: 100%;
  text-align: left;
  text-shadow: 4px 4px 16px rgba(0, 0, 0, 0.4);
}

.heroText h1 {
  color: var(--color-white);
  margin: 0;
  width: 100%;
  text-align: left;
  font-family: var(--primary-font);
  font-weight: bold;
  font-size: 56px;
  line-height: 125%;
}

.heroText p {
  color: var(--color-white);
  margin: 0;
  width: 100%;
  text-align: left;
  font-family: var(--secondary-font);
  font-weight: bold;
  font-size: 33px;
  line-height: 160%;
}

@media (min-width: 980px) {
  .blackGraphic {
    position: absolute;
    width: 50%;
  }
  .relativeHeroDivMobile {
    display: none;
  }
  .relativeHeroDivDesktop {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    margin: auto 0 auto 10px;
    width: 90%;
  }

  .relativeHeroDiv {
    align-items: center;
  }
}
