.frontPage {
  margin: 0px 15px 0px 15px;
}

.buttonSection button {
  border: none;
  height: 70px;
  width: 165px;
  font-family: var(--primary-font);
  font-size: 16px;
  box-shadow: gray 0px 0px 6px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.frontPage button img {
  margin-top: 5px;
}

.frontPage button p {
  margin-top: 10px;
  margin-bottom: 0px;
}
.buttonSection {
  display: flex;
  margin-top: 20px;

  justify-content: space-between;
}

.mainHeader {
  font-family: var(--primary-font);
  font-size: 24px;
  font-weight: 200;
  text-align: center;
}

.facebookButton {
  border: none;
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--primary-font);
  font-size: 16px;
  box-shadow: gray 0px 0px 6px 0px;
  background-color: #3b5998;
  color: var(--color-white);
}

.instagramButton {
  border: none;
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--primary-font);
  font-size: 16px;
  box-shadow: gray 0px 0px 6px 0px;
  background-color: #405de6;
  color: var(--color-white);
}

.map {
  width: 100%;
  border: 1px solid black;
}
