.upperSection {
  margin: 0px 15px 0px 15px;
  text-align: center;
}

.upperSection h1 {
  font-family: var(--primary-font);
  font-weight: 200;
  font-size: 22px;
}

.upperSection p {
  font-family: var(--secondary-font);
  font-size: 16px;
}
.bottomSection {
  margin: 0px 15px 0px 15px;
  text-align: center;
}

.bottomSection h2 {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
}

.bottomSection p {
  font-family: var(--secondary-font);
  font-size: 16px;
}

.map {
  width: 100%;
  height: 300px;
  border: 1px solid black;
}

@media only screen and (min-width: 800px) {
  .map {
    height: 400px;
  }

  .upperSection {
    margin: 50px 100px 0px 100px;
    text-align: left;
  }

  .infoSection {
    display: flex;
    justify-content: space-between;
  }

  .infoSection div {
    width: 45%;
    margin-top: 10px;
  }

  .upperSection h1 {
    margin-bottom: 0px;
  }

  .bottomSection {
    display: flex;
    justify-content: space-between;
    margin: 0px 100px 50px 100px;
    text-align: left;
  }

  .bottomSection div {
    width: 45%;
  }
}
