/* Desktop menu styling */

/* styles for browsers larger than 960px; */
@media only screen and (min-width: 960px) {
  .desktopMenu {
    display: flex;
    list-style: none;
    margin-right: 130px;
    place-self: center;
    margin-block-start: 0;
  }
  .desktopMenu li {
    border: 2px solid var(--color-white);
    padding: 8px;
    margin: 32px 0 0 64px;
  }

  .desktopMenu li:hover {
    border: 2px solid var(--color-white);
    padding: 8px;
    margin: 32px 0 0 64px;
    background-color: var(--color-white);
  }
  .desktopMenu li:hover > a {
    color: var(--color-black);
  }

  .desktopMenu li.activeNavElement {
    background-color: var(--color-white);
  }
  .desktopMenu li.activeNavElement a {
    color: var(--color-black);
  }

  .desktopMenu li a {
    color: var(--color-white);
    text-decoration: none;
    text-transform: uppercase;
    font-family: var(--primary-font);
    line-height: 150%;
  }
}

@media only screen and (max-width: 960px) {
  .desktopMenu {
    display: none;
  }
}
