.mobileMenu {
  min-width: 262px;
  background-color: var(--color-dark-green);
  list-style: none;
  position: absolute;
  margin: 0 auto;
  min-height: 506px;
}
.mobileMenu ul {
  display: flex;
}
.mobileMenu > li > a {
  color: var(--color-white);
  text-transform: uppercase;
  font-size: 20px;
  text-decoration: none;
}
.mobileMenu > li:nth-child(1) {
  margin-top: 94px;
  border-top: 1px solid black;
}

.mobileMenu li {
  margin: 0px 0px 0px 40px;
}

[aria-expanded="true"].mobileMenu > ul {
  transform: translateX(300px);
  transition: 1s all;
}
