.nav {
  display: flex;
  width: 100%;
  position: relative;
  z-index: 2;
  justify-content: space-between;
}
.nav > button[aria-expanded='false'] {
  margin: 17px 16px 0 0;
  max-height: 45px;
  min-height: 45px;
  max-width: 86px;
  min-width: 86px;
  border: 2px solid var(--color-white);
  background: rgba(28, 28, 28, 0.5);
  color: var(--color-white);
  font-size: var(--font-base-size);
}
.nav > button[aria-expanded='true'] {
  min-width: 32px;
  max-width: 32px;
  min-height: 32px;
  max-height: 32px;
  color: var(--color-white);
  margin: 20px 40px;
  z-index: 1;
  /** Switch to svg and add textinstruction to close menu for disabled persons with display: none **/
  background-color: transparent;
  background-image: url(../../public/images/close.svg);
  padding: 2px;
  border-style: none;
  background-repeat: no-repeat;
}

.mobileMenuButton {
  background-color: white;
  font-family: var(--primary-font);
}
.mobileMenuButton:focus {
  outline: none;
}

@media only screen and (min-width: 960px) {
  .nav > button {
    display: none;
  }
  .logo {
    display: block;
    margin: 32px 0 0 100px;
  }
}

@media only screen and (max-width: 960px) {
  .logo {
    display: none;
  }
}
